* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #svg1 {
        width: 768px;
        height:768px;
        margin-top: -7em;
        // ellipse {
        //     transform-origin: "center bottom";
        // }
        .st0 {
            opacity: 0.25;
            fill: #FFF500;
        }

        .st1 {
            opacity: 0.25;
            fill: #F2F500;
        }

        .st2 {
            opacity: 0.25;
            fill: #CDE600;
        }

        .st3 {
            opacity: 0.25;
            fill: #A9E100;
        }

        .st4 {
            opacity: 0.25;
            fill: #77E100;
        }

        .st5 {
            opacity: 0.25;
            fill: #35BD00;
        }

        .st6 {
            opacity: 0.25;
            fill: #0AA200;
        }

        .st7 {
            opacity: 0.25;
            fill: #0AB15D;
        }

        .st8 {
            opacity: 0.25;
            fill: #0AB197;
        }

        .st9 {
            opacity: 0.25;
            fill: #00CDC5;
        }

        .st10 {
            opacity: 0.25;
            fill: #00DECF;
        }

        .st11 {
            opacity: 0.25;
            fill: #00CDD4;
        }

        .st12 {
            opacity: 0.25;
            fill: #00C5ED;
        }

        .st13 {
            opacity: 0.25;
            fill: #2DACE1;
        }

        .st14 {
            opacity: 0.25;
            fill: #0081E2;
        }

        .st15 {
            opacity: 0.25;
            fill: #0054E3;
        }

        .st16 {
            opacity: 0.25;
            fill: #3050B3;
        }

        .st17 {
            opacity: 0.25;
            fill: #264687;
        }

        .st18 {
            opacity: 0.25;
            fill: #2F357E;
        }

        .st19 {
            opacity: 0.25;
            fill: #53357E;
        }

        .st20 {
            opacity: 0.25;
            fill: #72217E;
        }

        .st21 {
            opacity: 0.25;
            fill: #860062;
        }

        .st22 {
            opacity: 0.25;
            fill: #95004E;
        }

        .st23 {
            opacity: 0.25;
            fill: #AC0062;
        }

        .st24 {
            opacity: 0.25;
            fill: #9D0D42;
        }

        .st25 {
            opacity: 0.25;
            fill: #C52B00;
        }

        .st26 {
            opacity: 0.25;
            fill: #D90000;
        }

        .st27 {
            opacity: 0.25;
            fill: #FF1C00;
        }

        .st28 {
            opacity: 0.25;
            fill: #FF3800;
        }

        .st29 {
            opacity: 0.25;
            fill: #FF5600;
        }

        .st30 {
            opacity: 0.25;
            fill: #FF7900;
        }

        .st31 {
            opacity: 0.25;
            fill: #FFA400;
        }

        .st32 {
            opacity: 0.25;
            fill: #FFCA00;
        }

        .st33 {
            opacity: 0.25;
            fill: #FFDC00;
        }

        .st34 {
            opacity: 0.25;
            fill: #FFE600;
        }
    }
    #svg2 {
        .st0{fill:#C1272D;}
        .st1{fill:#ED1C24;}
        .st2{fill:#F15A24;}
        .st3{fill:#FBB03B;}
        .st4{fill:#FCEE21;}
        .st5{fill:#8CC63F;}
        .st6{fill:#009245;}
        .st7{fill:#006837;}
        .st8{fill:#00A99D;}
        .st9{fill:#29ABE2;}
        .st10{fill:#2E3192;}
    }
}