@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
// font-family: 'Black Ops One', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

.container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  #box1, #box2, #box3 {
    width: 400px;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 0.5em solid #fff;
    border-radius: 0.5em;
    // transform: translate(100px, 100px);
    // transition: all 4s linear;
    h1 {
        font-size: 4.5em;
        font-family: 'Black Ops One', cursive;
    }
  }
  .box1 {
    // transform: translate(100px, 100px); 
    // transform: rotate(-360deg);
    // transform: scale(2,2);
    // transform: scale(0.5,0.5);
    // transform: scaleX(1.5);
    // transform: scaleY(2.5);
    // transform: skewX(10deg);
    // transform: skewY(10deg);
    // transform: skew(10deg, 10deg);
    // matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )
    // transform: matrix(1, 0.3, 0.3, 1, 200, 0);
    transform: rotateX(45deg);
    transform: rotateY(45deg);
    transform: rotateZ(45deg);
   
  }
  #box2 {
      perspective: 1000px;
      perspective-origin: 50% 50%;
      h1 {
          transform: rotateX(70deg);
          background-color: #000;
          padding: 3em 0;
      }
  }
  #box3 {
    // transition-property: transform;
    // transition-property: all;
    // transition-duration:1s;
    // transition-timing-function: ease-in;
    // transition-timing-function: cubic-bezier(.09,.69,.91,.32);
    // transition-delay: 2s;
   transition: all 2s ease-in 1s;
    cursor: pointer;
  }
  #box3:hover {
    //   width: 600px;
    //   height: 600px;
      transform: scale(1.5);
      background-color: blue;
  }
}
